<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Appointment Schedule:</strong> <br/>
  <u>Patient</u>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Apt Date</u>
  &nbsp;&nbsp;&nbsp;&nbsp; <u>Days Until Apt</u>
  <br/>
  <% @specialist.appointments.each do |a| %>
      <%if a.appointment_date > Date.today%>
          <%=a.patient.name %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%=a.appointment_date%>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%=(a.appointment_date - Date.today).round%>

      <br/>
      <%end%>
  <%end%>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
