<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance_id %>
</p>

<p>
  <strong>Appointment History:</strong><br/>
  <u>Date</u>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Specialist</u>
       <br/>
  <% @patient.appointments.each do |a| %>
  <%=a.appointment_date%>
      &nbsp;&nbsp;&nbsp;&nbsp;
  <%=a.specialist.name %>
      <br/>
      <%end%>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
